@model UserViewModel 

<div class="max-w-xs mx-auto rounded overflow-hidden shadow-lg bg-white p-4 text-center">
    <div class="w-24 h-24 mx-auto rounded-full overflow-hidden border-2 border-gray-300">
        <img class="w-full h-full object-cover" src="https://raw.githubusercontent.com/HybridShivam/Pokemon/master/assets/images/006-Gmax.png" alt="Jon Doe">
    </div>
    <div class="mt-4">
        <h3 class="text-lg font-bold">Jon Doe</h3>
    </div>
</div>
